@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090E11;
  color: whitesmoke;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favorite-title{
  display:flex;
  width: 80%;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-bottom: 2rem;
}
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  
}

.search-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.search-output-container{
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
  border-style: dashed;
  border-color: whitesmoke;
  border-width: 2px;
  justify-content: space-between;
  margin: 2rem;
}
.search-output-box{
  display: flex;
  flex-direction: column;
  padding: 0rem;
  width: 60%;

}

.alert-error{
  margin-top: 2rem;
}

@media (min-width: 720px) {
  .app-container{
    width: 500px;

  }
}